<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.heyongqiang.zyz.mapper.LoginImgMapper">

    <resultMap id="BaseResultMap" type="com.heyongqiang.zyz.po.LoginImg">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="login_time" column="login_time" jdbcType="TIMESTAMP"/>
            <result property="user_id" column="user_id" jdbcType="BIGINT"/>
            <result property="user_name" column="user_name" jdbcType="VARCHAR"/>
            <result property="login_img" column="login_img" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,login_time,user_id,
        user_name,login_img
    </sql>
</mapper>
