<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.heyongqiang.zyz.mapper.RoleMapper">

    <resultMap id="BaseResultMap" type="com.heyongqiang.zyz.po.Role">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="role_name" column="role_name" jdbcType="VARCHAR"/>
            <result property="permission_ids" column="permission_ids" jdbcType="VARCHAR"/>
            <result property="cicle_radius" column="cicle_radius" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,role_name,permission_ids,
        cicle_radius
    </sql>
</mapper>
